<!DOCTYPE html>
<html lang="en" ng-app="theApp">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="minimum-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, width=device-width, initial-scale=1">
        <title>Lunch Checker </title>
        <style>
            .message {font-size: 1.3em; font-weight: bold;}
        </style>

       
    </head>
    <body>
        <div class="container" ng-controller="theController">
            <h1> Lunch Checker </h1>

            <div class="form-group">
                    <input id="lunch-menu" type="text" ng-model="lunchItems"
                   
                    class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="btnCheck()">Check If Too Much</button>
                </div>
                <div class="form-group message">
                  {{ theMessage }}
                </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>